@model Klinika.Models.IndexNalazVM

<div style="display: flex; justify-content: space-between;">
    <h3 style="margin-bottom: 0;">Lista nalaza za prijem</h3>
    <div class="mb-3">
        <a class="btn btn-primary" asp-controller="Nalaz" asp-action="Add" asp-route-prijemId="@Model.PrijemId">Dodaj nalaz</a>
    </div>
</div>
<h6>Nalazi za Prijem ID: @Model.PrijemId</h6>
<table class="table">
    <thead>
        <tr>
            <th>Tekstualni opis nalaza</th>
            <th>Datum kreiranja</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Nalazi)
        {
            <tr>
                <td>@item.Opis</td>
                <td>@item.DatumKreiranja.ToString("dd-MM-yyyy hh:mm:ss")</td>
                <td><a class="btn btn-primary" href="#">Uredi</a></td>
                <td>
                    <form method="post" action="/Nalaz/Delete/@item.NalazId">
                        <button type="submit" class="btn btn-danger" onclick="return potvrdiBrisanje()">Obriši nalaz</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
<a class="btn btn-primary" asp-controller="Prijem" asp-action="Index">Nazad na prijeme</a>

<script>
    function potvrdiBrisanje() {
        return confirm("Jeste li sigurni da želite obrisati nalaz pacijenta?");
    }
</script>
