@using Klinika.Helper;
@model Klinika.Models.UpdatePacijentVM
@{
}
<h3>Uredi pacijenta</h3>
<form asp-action="Edit" class="mt-5">
    <div class="mb-3">
        <label asp-for="PacijentId" class="form-label"></label>
        <input style="width: 40%" asp-for="PacijentId" class="form-control" readonly>
    </div>
    <div class="mb-3">
        <label asp-for="ImePrezime" class="form-label"></label>
        <input style="width: 40%" asp-for="ImePrezime" class="form-control">
        <span asp-validation-for="ImePrezime" class="text-danger"></span>

    </div>
    <div class="mb-3">
        <label asp-for="DatumRodjenja" class="form-label"></label>
        <input style="width: 40%" asp-for="DatumRodjenja" class="form-control">
        <span asp-validation-for="DatumRodjenja" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Spol" class="form-label"></label>
        <select style="width: 40%" asp-for="Spol" class="form-control" asp-items="Html.GetEnumSelectList<SpolEnum>()">
        </select>
        <span asp-validation-for="Spol" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Adresa" class="form-label"></label>
        <input style="width: 40%" asp-for="Adresa" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="BrojTelefona" class="form-label"></label>
        <input style="width: 40%" asp-for="BrojTelefona" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Potvrdi</button>
</form>
